<!DOCTYPE HTML>
<html dir="ltr" lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Search Here</title>
<!-- Custom Theme files -->
<link rel="stylesheet" href="../static/style.css" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="../static/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../static/js/functions.js"></script>
</head>
<body>
<div id="search-form">
	<img src="../static/images/back.jpg" width="400" height="100" align="center" hspace="10">
	<form class="form-container" action="{{ url_for('result') }}" method="post">
		<input type="text" class="search-field" name="text"/>
		<div class="submit-container">
			<input type="submit" value="" class="submit" />
		</div>
	</form>
	<div class="popup">
		<p>Please fill out this field.</p>
	</div>
</div>

</body>
</html>





